<div id="<%= dom_id emi_payment %>">
  <p>
    <strong>Paid emi amt:</strong>
    <%= emi_payment.paid_emi_amt %>
  </p>

  <p>
    <strong>Emi amt:</strong>
    <%= emi_payment.emi_amt %>
  </p>

  <p>
    <strong>Principal amt:</strong>
    <%= emi_payment.principal_amt %>
  </p>

</div>
