<h1>Editing emi payment</h1>

<%= render "form", emi_payment: @emi_payment %>

<br>

<div>
  <%= link_to "Show this emi payment", [@loan, @emi_payment] %> |
  <%= link_to "Back to emi payments", loan_emi_payments_path(@loan) %>
</div>
