<div class="card mt-5">
  <div class="card-header text-white bg-primary">
    <h3>Edit Emi payment</h3>
  </div>
  <div class="card-body">
    <%= render "form", emi_payment: @emi_payment %>
  </div>
  <div class="card-footer">
    <%= link_to "Back to emi payments", loan_emi_payments_path(@loan), class: "btn btn-outline-primary bi bi-arrow-left-circle" %>
  </div>
</div>
