<p style="color: green"><%= notice %></p>

<h1>Emi payments</h1>

<div class="card">
  <div class="row">
    <div class="col-md-3">
      <strong>Paid emi amt:</strong>
    </div>
    <div class="col-md-3">
      <strong>Emi amt:</strong>
    </div>
    <div class="col-md-3">
      <strong>Principal amt:</strong>
    </div>
    <div class="col-md-3">
      <strong>Options</strong>
    </div>
  </div>
</div>
    <% @emi_payments.each do |emi_payment| %>
      <%= render emi_payment %>
    <% end %>

<div class="row mt-3">
  <div class="col-md-2">
    <%= link_to "Back", loans_path, class: "btn btn-primary" %>
  </div>
</div>
