<h1>Emi Payments</h1>

<div class="card">
  <div class="row">
    <div class="col-md-2 text-center">
      <strong class="text-primary">Emi</strong>
    </div>
    <div class="col-md-2 text-center">
      <strong class="text-primary">Paid Emi</strong>
    </div>
    <div class="col-md-2 text-center">
      <strong class="text-primary">Principal</strong>
    </div>
    <div class="col-md-2 text-center">
      <strong class="text-primary">Interest</strong>
    </div>
    <div class="col-md-2 text-center">
      <strong class="text-primary">Total Loan</strong>
    </div>
    <div class="col-md-2 text-center">
      <strong class="text-primary">Options</strong>
    </div>
  </div>
</div>
    <% @emi_payments.each do |emi_payment| %>
      <%= render emi_payment %>
    <% end %>
<%= render 'shared/back_to_loans_btn' %>
