<div class="container mt-3">
  <div class="d-flex justify-content-left">
    <h4>Your Loans</h4>&nbsp;
    <h4><%= link_to " Add New loan", new_loan_path, class: 'btn bi bi-plus-circle text-primary'%></h4>
  </div>
  <div class="row mt-1">
    <% @loans.each do |loan| %>
      <%= render loan %>
    <% end %>
  </div>
</div>
