<div class="card mt-5">
  <div class="card-header text-center">
    New loan
  </div>
  <div class="card-body">
    <%= render "form", loan: @loan %>
  </div>
  <div class="card-footer">
    <%= link_to "Back to loans", loans_path%>
  </div>
</div>
